.lp-bg-div {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2021/04/NFT.jpeg.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lp-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.lp-heading {
    color: white;
    font-family: 'ManropeExtraBold';
    font-size: 3.5rem;
}
.lp-illus {
    width: 50vw;
}
.lp-row2 {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}
.lp-button {
    border-radius: 0.8vw;
    width: 18vw;
    height: 8vh;
    background-color: rgb(214, 154, 241);
    border-color: rgb(214, 154, 241);
    color: black;
    font-family: 'ManropeMedium';
    font-size: 1.3rem;
}
.lp-button:hover {
    background-color: rgb(89, 0, 131);
    border-color: rgb(89, 0, 131);
}
.lp-button:focus {
    background-color: rgb(89, 0, 131);
    border-color: rgb(89, 0, 131);
}