.cp-div {
    margin: 0 3vw;
    width: 60vw;
}
.cp-heading {
    font-size: 2rem;
    font-family: 'ManropeBold';
    text-align: center;
}
.cp-form {
    margin: 5vh 0;
    overflow: auto;
}
.cp-submit-form-item {
    padding: 5vh 0;
}