.pools-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.pools-heading {
    font-size: 2rem;
    font-family: 'ManropeBold';
    text-align: center;
    color: #ffff;
}
.pools-list-par {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.pool-success-btn {
    background-color: green !important;
    color: white;
    border-color: green;
}
.pool-success-btn:hover{
    background-color: #5dad5d !important;
    color: white;
    border-color: #5dad5d;
}
.ant-list-item {
    background-color: rgb(48, 49, 51);
    color: #ffff;
    border-radius: 0.5vw;
    border: 0 !important;
    margin-bottom: 4vh;
    box-shadow: 5px 5px 10px #adace7d3;
}
.ant-list-item:hover {
    transform: scale(1.02);
}
.pc-heading {
    font-family: 'ManropeBold';
    font-size: 1rem;
    color: #ffff !important;
}
.pc-heading:hover {
    color: #5dad5d !important;
}
.ant-space-item {
    color: #ffff;
}
.ant-list-item-action-split {
    display: none !important;
}
.ant-modal-content {
    background-color: #191B1F;
    color: #ffff;
    border-radius: 0.5vw;
    border: none !important;
    border-radius: 1.5vw;
}
.ant-modal-header {
    background-color: #191B1F;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}
.ant-input {
    color: #ffff;
    background-color: rgb(48, 49, 51);
}
.ant-modal-title {
    font-family: 'ManropeBold';
    font-size: 1rem;
    color: #ffff;
}
.ant-modal-close {
    color: #ffff;
}
.ant-modal-close:hover {
    color: rgb(233, 99, 99);
}
.pc-consensus-ques {
    color: white;
    font-family: 'ManropeMedium';
}
.pc-consensus-data {
    color: white;
    font-family: 'ManropeMedium';
    margin-top: 3vh;
}
.pc-alert {
    margin-top: 1vh;
    margin-bottom: 2.5vh;
    background-color: transparent;
    border-radius: 0.5vw;
}
.ant-alert-message {
    font-family: 'ManropeMedium';
    color: #ffff;
}